
/* Stylesheet content from css/main.css in folder common */
/*	 Licensed Materials - Property of IBM
	 5725-I43 (C) Copyright IBM Corp. 2006, 2013. All Rights Reserved.
	 US Government Users Restricted Rights - Use, duplication or
     disclosure restricted by GSA ADP Schedule Contract with IBM Corp. */
/* Stylesheet content from css/main.css in folder ipad */
/*	 Licensed Materials - Property of IBM
	 5725-I43 (C) Copyright IBM Corp. 2006, 2013. All Rights Reserved.
	 US Government Users Restricted Rights - Use, duplication or
     disclosure restricted by GSA ADP Schedule Contract with IBM Corp. */

/* this CSS file extends the application CSS file found under common\css */

/*Optional iOS 7 status bar filler*/
#wl_ios7bar {
	background-color: white;
	height: 15pt;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

body.wl_ios7 {
	padding-top: 15pt;
}